<!-- _layouts/contentpage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
</head>

<body>
    <header>
         <div class="header">
			<a href="/" class="logo">Charlotte Mitzi Galvin</a>
			<div class="header-right">
				<a href="/">Work</a>
				<a href="about">About</a>
				<a href="contact">Contact</a>
			</div>
		</div> 
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>email me at <a href="mailto:charlottemgalvin@gmail.com">charlottemgalvin@gmail.com</a></p>
    </footer>
</body>
</html>