<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
	<link rel="stylesheet" href="https://use.typekit.net/doq1vyl.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+3">
	
	<style>
	* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
		body {
		font-family: "Source Sans 3", sans-serif;
		}
</style>
	
</head>

<body>
    <header>
         <div class="header">
			<a href="" class="logo">Charlotte Galvin</a>
			<div class="header-right">
				<a class="active" href="">work</a>
				<a href="about">about</a>
			</div>
		</div> 
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>email me at <a href="mailto:charlottemgalvin@gmail.com">charlottemgalvin@gmail.com</a></p>
    </footer>
	
</body>
</html>